<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="width=device-width, initial-scale=1.0">
    <title>教材宝典我的书架</title>
</head>

<body class="shelf">
    <div class="header">
        <div class="headerlogo">
            <a href="/">我的书架</a>
        </div>
        <ul class="headernav">
            <li>
                <a href="">个人中心</a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="group">
            <li class="">
                <a href="">教材</a>
                <a href="">文章</a>
                <a href="">链接</a>
            </li>
        </ul>
        <ul class="groupmanage">
            <li class="">
                <a href="" title="默认分组">默认分组</a>
                <a href="" title="新建分组">新建分组</a>
            </li>
        </ul>
    </div>
    <div class="search">
        <form id="shelfSearchForm" class="" action="" target="_blank">
            <input type="text" name="shelfSearch" class="shelf-search-input" placeholder="输入教材名或作者名">
            <label for="shelfSearch" class="shelf-search-submit ui-button">搜书架</label>
        </form>
    </div>
</body>

</html>