<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="Shortcut Icon" href="/static/img/jiaocaibaodian.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://cdn.bootcss.com/element-ui/2.12.0/theme-chalk/index.css" rel="stylesheet">
    <title>注册</title>
</head>

<body>
    <div class="login-box" id="app">
        <div class="logo">
            <div class="logo1"></div>
            <div class="logo2"></div>
        </div>
        <h3 class="login-title">欢迎</h3>
        <el-form>
            <el-form-item>
                <el-input v-model="register.uemail" type="text" placeholder="邮箱号" @change="email_check()">
                    <template slot="prepend">邮箱号</template>
                </el-input>
                <span class="email_check_tip">
                        <i class="el-icon-warning"></i>
                        <span>邮箱名不合法</span>
                </span>
            </el-form-item>
            <el-form-item>
                <el-input v-model="register.upsw" type="password" placeholder="密码" @change="psw_check()" maxlength="16">
                    <template slot="prepend">密码</template>
                </el-input>
                <span class="psw_check_tip">
                        <i class="el-icon-warning"></i>
                        <span>密码不合法</span>
                </span>
            </el-form-item>
            <el-form-item>
                <el-input v-model="register.checkpsw" type="password" placeholder="确认密码" @change="psw_check()">
                    <template slot="prepend">确认密码</template>
                </el-input>
                <span class="checkpsw_check_tip">
                        <i class="el-icon-warning"></i>
                        <span>两次密码不一致</span>
                </span>
            </el-form-item>
            <el-form-item>
                <el-input v-model="register.uname" placeholder="用户名" @change="uname_check()">
                    <template slot="prepend">用户名</template>
                </el-input>
                <span class="name_check_tip">
                        <i class="el-icon-warning"></i>
                        <span>用户名已被占用</span>
                </span>
                <img src="/static/img/random.png" alt="随机生成" class="random-img" @click="get_uname()">
            </el-form-item>
            <el-button id="login" style="width:100%" type="primary" @click="register.dialogVisible = true">注册</el-button>
        </el-form>
        <el-dialog title="邮件验证" :visible.sync="register.dialogVisible" width="300px" height="300px">
            <el-form>
                <el-form-item>
                    <el-input v-model="register.mailCode" placeholder="输入验证码" class="mail-input"></el-input>
                    <el-button type="primary" @click="getMailCode()">获取验证码</el-button>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
        <el-button @click="register.dialogVisible = false">取 消</el-button>
        <el-button  type="primary" @click="get_register()">确 定</el-button>
    </span>
        </el-dialog>

        <el-form class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </el-form>

    </div>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.12.0/index.js"></script>
    <script src="/static/js/login.js"></script>
</body>
<script type="text/javascript">
    $('.random-img').click(function(event){
        $('.random-img').addClass('shake-opacity');
        var gxg1=0;
        var gxg= setInterval(function(){
            gxg1=gxg1+1;
            if(gxg1==1)
            {
            $('.random-img').removeClass('shake-opacity');
            clearInterval(gxg);
            }
        },300)

    });
    </script>
</html>