@import "util.css";
.el-container {
    height: 100%;
}

.el-container .el-main {
    padding: 0;
    text-align: center;
}

.el-main .el-row {
    width: 100%;
    height: 94%;
    padding: 1%;
}

.el-main .el-row .el-col {
    height: 100%;
}

.el-main .el-row .el-col iframe,
.el-video,
video {
    width: 100%;
    height: 100%;
}


/* .el-main .el-row .el-col .el-card {
    height: 100%;
} */

.el-main .el-button {
    position: fixed;
    top: 90%;
    width: 80%;
    display: block;
    left: 10%;
}