@import "util.css";
.el-container {
    height: 100%;
}

.el-container .el-main {
    padding: 0;
    text-align: center;
}

.el-main .el-row {
    width: 100%;
    height: 94%;
    padding: 1%;
}

.el-main .el-row .el-col .el-card {
    height: 100%;
    overflow: scroll;
}

.el-main .el-row .el-col {
    height: 100%;
}

.el-main .el-row .el-col iframe,
.el-video,
video {
    width: 100%;
    height: 100%;
}


/* .el-main .el-row .el-col .el-card {
    height: 100%;
} */

.el-main .el-button {
    position: fixed;
    top: 90%;
    width: 80%;
    display: block;
    left: 10%;
}

.el-drawer {
    overflow: scroll;
}

.el-drawer .el-card .el-card__header,
.reply-item-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.el-drawer .el-card .el-card__header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.el-drawer .el-card .el-card__header span,
.reply-item-header .reply-item-header-text {
    flex: 1;
}

.el-drawer .el-card .replies {
    background: grey;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.el-drawer .el-card .replies .reply-item {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

.el-drawer .el-card .replies .reply-item-content span {}

.el-card.comment-item.is-always-shadow {
    margin: 10px;
}