.el-video {
    position: relative;
}

.el-video-control-btn {
    position: absolute;
    left: 78%;
    top: 89.1%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.el-video-control-btn .el-button {
    color: white;
    padding: 0;
    font-size: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

ul li {
    padding: 10px 0;
    cursor: pointer;
}

ul li:hover {
    background: #f5f0f0;
}

.el-popover {
    min-width: 10px;
}