@import "util.css";
html {
    height: 100%;
    background-image:url("/static/img/preview.jpg");
    background-size: cover;
    overflow-x: hidden;
}
.el-header {
    padding: 0;
    border-radius: 10px;
    background-color:#b5d0f3;
    color: #333;
    text-align: center;
    line-height: 60px;
}

.el-main {
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.5);
  /* line-height: 160px; */
  margin-bottom: 10px;
  display: inline-flex;
}
.container1{
  width:33%;
  max-height:1920px;
  margin-top: 20px;
  margin-bottom: 200px;
  border-radius: 5px;
  padding: 35px;
  box-shadow: 0 0 5px #DCDFE6;
  float: left;
}
.container2{
  width:33%;
  max-height:1920px;
  margin-top: 20px;
  margin-bottom: 200px;
  border-radius: 5px;
  padding: 35px;
  box-shadow: 0 0 5px #DCDFE6;
  float: right;
}




.el-header .el-menu {
    display: flex;
}

.el-header .el-menu .el-menu-item:first-child {
    flex: 1;
}
.input-box{
    width: 500px;
    padding: 30px;
}

/* 实现logo效果 */
.logo{
    top:5px;
    left:5px;
    position: relative;
}
.logo1{
    position: absolute;
    width: 50px;
    height: 50px;
    background-image:url(/static/img/jiaocaibaodian1.png);
    background-size:50px 50px;
    z-index: 2;
}
.logo2{
    position: absolute;
    width: 50px;
    height: 50px;
    background-image:url(/static/img/jiaocaibaodian2.png);
    background-size:50px 50px;
    z-index:3;
    animation: haha1 2s linear infinite;
    -webkit-animation: haha1 2s linear infinite;
    -moz-animation: haha1 2s linear infinite;
    -ms-animation: haha1 2s linear infinite;
    -o-animation: haha1 2s linear infinite;
}
@keyframes haha1 {
    0% {
        transform: rotate(0deg);
      }
    
      25% {
        transform: rotate(90deg);
      }
    
      50% {
        transform: rotate(180deg);
      }
    
      75% {
        transform: rotate(270deg);
      }
    
      100% {
        transform: rotate(360deg);
      }
}
  
  @-webkit-keyframes haha1 {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(90deg);
    }
  
    50% {
      transform: rotate(180deg);
    }
  
    75% {
      transform: rotate(270deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes haha1 {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(90deg);
    }
  
    50% {
      transform: rotate(180deg);
    }
  
    75% {
      transform: rotate(270deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}

@-ms-keyframes haha1 {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(90deg);
    }
  
    50% {
      transform: rotate(180deg);
    }
  
    75% {
      transform: rotate(270deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}

@-o-keyframes haha1 {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(90deg);
    }
  
    50% {
      transform: rotate(180deg);
    }
  
    75% {
      transform: rotate(270deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}
/* 实现背景气泡效果 */
.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    border-radius:100%;
    background-color: rgba(187,255,255, 0.8);
    bottom: -160px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
    left: 10%;
}

.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(187,255,255, 0.2);
}

.bg-bubbles li:nth-child(5) {
    left: 70%;
}

.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(187,255,255, 0.3);
}

.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(187,255,255, 0.5);
}

.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
}

@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}
/* 实现首页星星背景 */
.wall{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
div#midground{
  background: url("/static/img/midground.png");
  z-index: -3;
  -webkit-animation: cc 100s linear infinite;
  -moz-animation: cc 100s linear infinite;
  -o-animation: cc 100s linear infinite;
  animation: cc 100s linear infinite;
}
div#foreground{
  background: url("/static/img/foreground.png");
  z-index: -2;
  -webkit-animation: cc 153s linear infinite;
  -o-animation: cc 153s linear infinite;
  -moz-animation: cc 153s linear infinite;
  animation: cc 153s linear infinite;
}
div#top{
  background: url("/static/img/midground.png");
  z-index: -1;
  -webkit-animation: dd 100s linear infinite;
  -o-animation: dd 100s linear infinite;
  animation: da 100s linear infinite;
}
@-webkit-keyframes cc {
  from{
      background-position: 0 0;
      transform: translateY(10px);
  }
  to{
      background-position: 600% 0;
  }
}
@-o-keyframes cc {
  from{
      background-position: 0 0;
      transform: translateY(10px);
  }
  to{
      background-position: 600% 0;
  }
}
@-moz-keyframes cc {
  from{
      background-position: 0 0;
      transform: translateY(10px);
  }
  to{
      background-position: 600% 0;
  }
}
@keyframes cc {
  0%{
      background-position: 0 0;
  }
  100%{
      background-position: 600% 0;
  }
}

@keyframes da {
  0%{
      background-position: 0 0;
  }
  100%{
      background-position: 0 600%;
  }
}
@-webkit-keyframes da {
  0%{
      background-position: 0 0;
  }
  100%{
      background-position: 0 600%;
  }
}
@-moz-keyframes da {
  0%{
      background-position: 0 0;
  }
  100%{
      background-position: 0 600%;
  }
}
@-ms-keyframes da {
  0%{
      background-position: 0 0;
  }
  100%{
      background-position: 0 600%;
  }
}
/* 走马灯 */
.bannerImg{
  width:100%;
  height:100%;
  border-radius: 5px;
}
/*底部*/
.footer{
  margin-top: 50%;
  height: 200px;
  background-color: rgba(255,255,255, 0.5);
}
.footer .footer_top { margin-top: 30px; padding-top: 30px;  }
.footer .footer_top .friend-ico { float: left; width: auto; }
.footer .footer_top .top_right {color: #222222;font-size: 12px; text-align: right; }
.footer .footer_top .top_right li { display: inline-block; }
.footer .footer_top .top_right li a { color: #222222; }
.footer .footer_top .top_right li a:hover { color: rgb(34, 34, 34); }
.footer .footer_top .top_right span { display: inline-block; padding: 0px 5px; }
.footer .footer_top .top_right p { display: inline-block; margin: 5px 0px 5px 8px; }
.footer_bottom{width: 100%;background: url(../bg_footer.jpg) no-repeat;background-size: 100% 100%;padding:20px 0;}
.bottom_left{float: left;width: 50%;}
.footer_logo{float: left;height: 150px;}
.company_info{font-size: 14px;color: #fff;line-height: 25px; float: left;margin-left: 40px;padding-left:42px;background:url(../foot_line.png) no-repeat left center;}
.bottom_right{float: right;width: 50%;text-align: right;}

