@import "util.css";
.el-header {
    padding: 0;
}

.el-header .el-menu {
    display: flex;
}

.el-header .el-menu .el-menu-item:first-child {
    flex: 1;
}

.el-header .el-menu .el-menu-item img.logo {
    width: 50px;
    cursor: default;
}