@import "util.css";
html {
    height: 100%;
    background-image: #fff;
    background-size: cover;
    overflow-x: hidden;
}

.el-header {
    
    padding: 0;
    border-radius: 10px;
    background-color: #e9ebef;
    color: #333;
    text-align: center;
    line-height: 60px;
}

.el-main {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    /* line-height: 160px; */
    margin-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
    float: left;
}

.container {
    width: 80%;
    max-height: 1920px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255);
    display: block;
    position: static;
}


.container1 {
    width: 40%;
    max-height: 1920px;
    margin-top: 20px;
    margin-bottom: 200px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 35px;
    background-color: rgba(255, 255, 255);
    float: left;
    display: block；
}

.container2 {
    width: 40%;
    max-height: 1920px;
    margin-top: 20px;
    margin-bottom: 200px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 35px;
    background-color: rgba(255, 255, 255);
    float: right;
    display: block；
}

.el-header .el-menu {
    display: flex;
}

.el-header .el-menu .el-menu-item:first-child {
    flex: 1;
}


/* 实现背景气泡效果 */




/*轮播图 */

.bannerImg {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


/*底部*/

.footer {
    float: left;
    margin-bottom: 0%;
    width: 100%;
    height: 200px;
    background-color: rgba(4, 182, 253, 0.5);
}

.footer .footer_top {
    margin-top: 30px;
    padding-top: 30px;
}

.footer .footer_top .friend-ico {
    float: left;
    width: auto;
}

.footer .footer_top .top_right {
    color: #222222;
    font-size: 12px;
    text-align: right;
}

.footer .footer_top .top_right li {
    display: inline-block;
}

.footer .footer_top .top_right li a {
    color: #222222;
}

.footer .footer_top .top_right li a:hover {
    color: rgb(34, 34, 34);
}

.footer .footer_top .top_right span {
    display: inline-block;
    padding: 0px 5px;
}

.footer .footer_top .top_right p {
    display: inline-block;
    margin: 5px 0px 5px 8px;
}

.footer_bottom {
    width: 100%;
    background: url(../bg_footer.jpg) no-repeat;
    background-size: 100% 100%;
    padding: 20px 0;
}

.bottom_left {
    float: left;
    width: 50%;
}

.footer_logo {
    float: left;
    height: 150px;
}

.company_info {
    font-size: 14px;
    color: #fff;
    line-height: 25px;
    float: left;
    margin-left: 40px;
    padding-left: 42px;
    background: url(../foot_line.png) no-repeat left center;
}

.bottom_right {
    float: right;
    width: 50%;
    text-align: right;
}

li {
    list-style: none;
    margin: 0 auto;
}

a {
    color: rgb(119, 117, 117);
}


/* 底部图片切换 */
.bottomlunbo{
    position: relative;
    float: left;
    width: 100%;
}

.bottomlunbo1 {
    margin: 0 auto;
    width: 80%;
}




/* 视频 */

.videoone {
    border: 5px solid #98c391;
    border-radius: 10px;
}

.xiantiaobeijing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
  }
