html {
  height:100%;
  background-color: #50a3a2;
  background-image: linear-gradient(0deg, #50a3a2 0%, #2af5d8 50%, #50a3a2 100%);
  overflow: hidden;
}

.random-img {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 100;
    left: 220px;
    top: 5px;
}
 
.el-container {
  background-color: rgba(255, 255, 255, 0.5);
  width: 300px;
  min-height:350px;
  margin-top:100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 200px;
  border-radius: 5px;
  box-shadow: 0 0 5px #DCDFE6;
}

.el-header {
    text-align: center;
    height: 80px;
}

.el-header i {
    font-size: 60px;
}

.el-main{
    overflow: hidden;
}

.el-main .el-form .el-button {
    width: 100%;
}

.psw_rm {
    width: 100%;
    display: inline-flex;
}

.psw_rm .el-form {
    flex: 1;
}

.name_check_tip,
.code_check_tip,
.psw_check_tip,
.checkpsw_check_tip,
.email_check_tip {
    display: none;
    color: red;
    font-size: 12px;
}

.el-form-item.checkcode .el-form-item__content {
    display: flex;
}

.el-form-item.checkcode .el-form-item__content .el-input {
    flex: 1;
}
