@import "util.css";
body {
    background-color: #66b1ff;
}

.random-img {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 100;
    left: 220px;
    top: 5px;
}

.el-container {
    width: 300px;
    height: 480px;
    background-color: white;
    margin: 100px auto;
}

.el-header {
    text-align: center;
    height: 80px;
}

.el-header i {
    font-size: 60px;
}

.el-main .el-form .el-button {
    width: 100%;
}

.psw_rm {
    width: 100%;
    display: inline-flex;
}

.psw_rm .el-form {
    flex: 1;
}

.el-main .el-tabs .el-tab-pane .el-form .el-form-item .name_check_tip,
.code_check_tip,
.psw_check_tip,
.checkpsw_check_tip,
.email_check_tip {
    display: none;
    color: red;
    font-size: 12px;
}

.el-form-item.checkcode .el-form-item__content {
    display: flex;
}

.el-form-item.checkcode .el-form-item__content .el-input {
    flex: 1;
}