@import url(/static/css/util.css);

/* index页面 */

.el-container {
    height: 100%;
}

.el-container .el-main {
    padding: 0;
}

.el-container .el-main .el-form .el-form-item {
    background: whitesmoke;
    padding: 10px;
}

.el-dialog .el-row .el-col div.tag {
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.highlight {
    color: red;
}

.container div span.title {
    padding-left: 20px;
    color: white;
    font-size: 20px;
    border-bottom: 0.1px solid lightgrey;
}

ul.col-nav {
    list-style: none;
    width: 80px;
    margin: 0;
    background: whitesmoke;
    color: white;
    position: fixed;
    text-align: center;
    padding: 0;
    border-radius: 5px;
    left: 1400px;
    top: 250px;
}

ul.col-nav li {
    width: 80px;
    height: 40px;
    margin: 0;
    line-height: 40px;
}

ul.col-nav li a {
    color: black;
}

ul.infinite-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-bottom: 0.1px solid #e5e5e6;
}

ul.infinite-list li.infinite-list-item {
    height: 30px;
    border-bottom: 0.1px solid #f4f4f4;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 5px 5px 20px;
}

ul.infinite-list li.infinite-list-item:hover {
    background: #e6e5e5;
}

ul.infinite-list li.infinite-list-item span {
    flex: 1;
}

.el-form {
    white-space: nowrap;
    padding: 0 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 10px 5px lightgrey;
    /* position: fixed; */
    /*注释原因，会导致上传按钮被遮挡*/
    width: 100%;
    z-index: 10;
    margin-left: 50px;
    /*添加原因，避免logo被遮挡*/
}

.el-form .el-form-item .el-card__body {
    padding: 0;
}

.el-form-item {
    margin-bottom: 0;
}

.el-form-item .el-form-item__content {
    line-height: 40px;
    position: relative;
    font-size: 14px;
    /* display: flex; */
    /* 注释的原因，为了页面对其 */
    align-items: center;
    justify-content: space-around;
}

.el-menu-item * {
    border: none;
    vertical-align: unset;
}

.container .el-card {
    height: 700px;
    overflow: auto;
    box-shadow: none;
    border: none;
}

.container .el-card .el-row {
    height: 10vw;
    min-height: 120px;
}

.container .el-card .el-row .el-col {
    height: 100%;
    margin-bottom: 20px;
}

.resource-item {
    width: 100%;
    height: 100%;
    background: #f7f7f7;
    position: relative;
    overflow: hidden;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mask-top {
    width: 100%;
    height: 22%;
    position: absolute;
    left: 0;
    top: -22%;
    background: black;
    opacity: 0.7;
    text-align: center;
}

.mask-top span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
}

.mask-bottom {
    width: 100%;
    height: 20%;
    position: absolute;
    left: 0;
    top: 100%;
    background: black;
    opacity: 0.7;
    display: flex;
    justify-content: space-around;
    align-self: center;
}

#videos .mask-top {
    height: 24%;
    top: -24%;
}

#videos .mask-bottom {
    height: 24%;
}


/* #links .mask-top {
    height: 26%;
    top: -26%;
}
#links .mask-bottom {
    height: 24%;
} */

.mask-center {
    position: absolute;
    width: 100%;
    height: 52%;
    left: 0;
    top: 24%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resource-item:hover .mask-center {
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    opacity: 1;
}

.resource-item:hover .mask-top {
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    /* Safari */
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    transform: translate(0, 100%);
}

.resource-item:hover .mask-bottom {
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    /* Safari */
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%);
}


/* upload页面 */

.input-box {
    width: 40%;
    padding: 30px;
}

.el-main {
    overflow: initial;
}