html {
    height: 100%;
    background-image: url("/static/img/preview.jpg");
    background-size: cover;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

.el-form {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
}

.login-box {
    background-color: rgba(255, 255, 255, 0.8);
    width: 300px;
    min-height: 350px;
    max-height: 420px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 200px;
    border-radius: 5px;
    padding: 35px;
    box-shadow: 0 0 5px #DCDFE6;
}

.login-title {
    margin-bottom: 20px;
    text-align: center;
    color: #e2233d;
    font-size: 30px;
}

body {
    background-color: #f3f5f7;
}

li {
    list-style: none;
}

.random-img {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 100;
    right: 10px;
    top: 5px;
}

.el-header {
    text-align: center;
    height: 80px;
}

.el-header i {
    font-size: 60px;
}

.el-main {
    overflow: hidden;
}

.el-main .el-form .el-button {
    width: 100%;
}

.psw_rm {
    width: 100%;
    display: inline-flex;
}

.psw_rm .el-form {
    flex: 1;
}

.name_check_tip,
.code_check_tip,
.psw_check_tip,
.checkpsw_check_tip,
.login_check_tip,
.email_check_tip {
    display: none;
    margin-top: 50px;
    color: red;
    animation: changeshadow 1s ease-in infinite;
    /* 其它浏览器兼容性前缀 */
    -webkit-animation: changeshadow 1s linear infinite;
    -moz-animation: changeshadow 1s linear infinite;
    -ms-animation: changeshadow 1s linear infinite;
    -o-animation: changeshadow 1s linear infinite;
}

@keyframes changeshadow {
    0% {
        text-shadow: 0 0 4px red
    }
    50% {
        text-shadow: 0 0 80px red
    }
    100% {
        text-shadow: 0 0 4px red
    }
}


/* 添加兼容性前缀 */

@-webkit-keyframes changeshadow {
    0% {
        text-shadow: 0 0 4px red
    }
    50% {
        text-shadow: 0 0 80px red
    }
    100% {
        text-shadow: 0 0 4px red
    }
}

@-moz-keyframes changeshadow {
    0% {
        text-shadow: 0 0 4px red
    }
    50% {
        text-shadow: 0 0 80px red
    }
    100% {
        text-shadow: 0 0 4px red
    }
}

.nav {
    float: left;
    margin-left: 45px;
}

.nav ul li {
    float: left;
    margin: 0 20px;
}

.nav ul li a {
    display: block;
    height: 46px;
    padding: 0 13px;
    line-height: 50px;
    font-size: 18px;
    color: #050505;
    text-decoration: none;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}


/* search搜索模块 */

.search {
    float: left;
    width: 412px;
    height: 45px;
    background-color: skyblue;
    margin-left: 380px;
}

.search input {
    float: left;
    width: 345px;
    height: 43px;
    border: 1px solid #00a4ff;
    border-right: none;
    color: #bfbfbf;
    font-size: 16px;
    padding-left: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 45px;
    /* background-color: blue; */
    border: none;
    background: url(imges/搜索.png);
}

.box {
    margin-top: 65px;
}

.box ul {
    width: 1225px;
}

.box ul li {
    float: left;
    width: 220px;
    height: 260px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
}

.box ul li img {
    width: 100%;
    height: 70%;
}

.box ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}