a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}

.avatar {
    width: 178px;
    height: 178px;
    display: block;
}

.el-main .el-collapse {
    width: 400px;
}

.bookcard {
    width: 400px;
    display: flex;
    flex-direction: row;
}

.bookcard img {
    width: 20%;
}

.bookcard .book-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1%;
    width: 70%;
}

.bookcard .book-content span .el-link {
    width: 100%;
}

.bookcard .book-content span {
    white-space: nowrap;
}

.bookcard .book-content span .el-link span {
    overflow: hidden;
    text-overflow: ellipsis;
}