* {
    margin: 0;
    padding: 0;
}

.w {
    /* 版心 */
    width: 1150px;
    margin: auto;
}

body {
    background-color: #f3f5f7;
}

li {
    list-style: none;
}

.header {
    height: 45px;
    /* background-color: rgb(230, 233, 82); */
    margin: 40px auto;
}

.logo {
    float: left;
    width: 90px;
    height: 45px;
    /* 装logo的盒子 */
}

.nav {
    float: left;
    margin-left: 45px;
}

.nav ul li {
    float: left;
    margin: 0 20px;
}

.nav ul li a {
    display: block;
    height: 46px;
    padding: 0 13px;
    line-height: 50px;
    font-size: 18px;
    color: #050505;
    text-decoration: none;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}


/* search搜索模块 */

.search {
    float: left;
    width: 412px;
    height: 43px;
    background-color: skyblue;
    margin-left: 380px;
}

.search input {
    float: left;
    width: 345px;
    height: 43px;
    border: 1px solid #00a4ff;
    border-right: none;
    color: #555666;
    font-size: 16px;
    padding-left: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 44px;
    /* background-color: blue; */
    border: none;
    background: url(imges/搜索.png);
}

.box {
    margin-top: 45px;
}

.box ul {
    width: 1225px;
}

.box ul li {
    float: left;
    width: 210px;
    height: 260px;
    background-color: #fff;
    margin-right: 25px;
    margin-bottom: 30px;
}

.box ul li img {
    width: 100%;
    height: 70%;
}

.box ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}