<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/css/login.css">
<link href="https://cdn.bootcss.com/element-ui/2.12.0/theme-chalk/index.css" rel="stylesheet">
<title>教材宝典</title>
<style>
body
{
	background-color:#d0e4fe;
}
h1
{
	color:black;
	text-align:center;
}
p
{
	font-family:"Times New Roman";
	font-size:20px;
}
</style>
</head>

<body>
<el-container>
	  <h1>个人中心</h1>
		  <p>昵称<br>
		  <img border="" src="/" alt="头像" width="100" height="100"></p>
    <el-main>
    <el-col :span="12">
    <el-menu
      default-active="2"
      class="el-menu-vertical-demo"
      @open="handleOpen"
      @close="handleClose"
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b">
      <el-menu-item index="1">
          <i class="el-icon-location"></i>
          <span slot="title">评论</span>
        </el-menu-item>
      <el-menu-item index="2">
        <i class="el-icon-menu"></i>
        <span slot="title">历史记录</span>
      </el-menu-item>
      <el-menu-item index="3" >
        <i class="el-icon-document"></i>
        <span slot="title">讨论</span>
      </el-menu-item>
    </el-menu>
  </el-col>  
  </el-main>
</el-container>
</body>
</html>
