<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Shortcut Icon" href="/static/img/jiaocaibaodian.ico" type="image/x-icon" />
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.12.0/theme-chalk/index.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/resource.css">
    <title>资源区</title>
</head>

<body>
    <el-container id="index">
        <el-header id="top">
            <div class="logo">
                <div class="logo1"></div>
                <div class="logo2"></div>
            </div>
            <!-- 导航条 -->
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" background-color="#fff" text-color="#409EFF" active-text-color="#FF6A6A">
                <el-menu-item>
                </el-menu-item>
                <el-menu-item index="1">首页</el-menu-item>
                <el-menu-item index="2">专业区</el-menu-item>
                <el-menu-item index="3">讨论区</el-menu-item>
                <el-menu-item index="4">资源区</el-menu-item>
                <el-submenu index="5">
                    <template slot="title">个人</template>
                    <el-menu-item index="5-1">登录</el-menu-item>
                    <el-menu-item index="5-2">注册</el-menu-item>
                    <el-menu-item index="5-3">我的书架</el-menu-item>
                    <el-menu-item index="5-4">我的视频库</el-menu-item>
                    <el-menu-item index="5-5">个人主页</el-menu-item>
                </el-submenu>
            </el-menu>
        </el-header>
        <el-main>
            <el-form>
                <el-form-item>
                    <el-cascader @change="getTempSearchResults" change-on-select :options="labels" v-model="selectedLabels" style="width: 200px;" placeholder="可以指定搜索内容的标签" clearable></el-cascader>
                    <el-popover placement="bottom" width="400" trigger="focus">
                        <ul class="infinite-list" style="overflow:auto">
                            <li v-for="item in searchResults" class="infinite-list-item" @mousedown="item.rtype=='视频'?openVideo(item.rsrc,item.rid):openFile(item.rid,item.rsrc)">
                                <span v-html="item.rname+' --'+item.rauthor"></span>
                                <i class="el-icon-arrow-right"></i>
                            </li>
                        </ul>
                        <el-input slot="reference" placeholder="请输入作者名或者资源名称" v-model="query" style="width: 400px;" @focus="getTempSearchResults" @input="getTempSearchResults">
                            <el-select v-model="selectedType.label" slot="prepend" style="width: 100px;" @change="handleTypeChange">
                                <el-option v-for="type in types" :value="type.label"></el-option>
                            </el-select>
                            <el-button slot="append" icon="el-icon-search" @click="showResults()"></el-button>
                        </el-input>
                    </el-popover>
                    <el-button class="uploadbtn" @click="window.open('/resource/upload')">上传资源</el-button>
                </el-form-item>
            </el-form>
            <!-- 对资源进行分类显示 -->
            <div class="container">
                <el-card id="textbooks">
                    <span slot="header">教材</span>
                    <el-row>
                        <el-col :xs="6" :sm="6" :md="4" :lg="4" :xl="4" v-for="res in resources" v-if="res.rtype=='教材'">
                            <div class="resource-item"></div>

                        </el-col>
                    </el-row>
                </el-card>
                <el-card id="answers">
                    <span slot="header">答案</span>
                    <el-row>
                        <el-col :xs="6" :sm="6" :md="4" :lg="4" :xl="4" v-for="res in resources" v-if="res.rtype=='答案'">
                            <div class="resource-item"></div>

                        </el-col>
                    </el-row>
                </el-card>
                <el-card id="videos">
                    <span slot="header">视频</span>
                    <el-row>
                        <el-col :xs="6" :sm="6" :md="4" :lg="4" :xl="4" v-for="res in resources" v-if="res.rtype=='视频'">
                            <div class="resource-item">
                            </div>

                        </el-col>
                    </el-row>
                </el-card>
                <el-card id="books">
                    <span slot="header">电子书籍</span>
                    <el-row gutter="20">
                        <el-col :xs="8" :sm="6" :md="6" :lg="4" :xl="4" v-for="res in resources" v-if="res.rtype=='电子书籍'">
                            <div class="resource-item">

                            </div>
                        </el-col>
                    </el-row>
                </el-card>
                <el-card id="articles">
                    <span slot="header">短篇博客</span>
                    <el-row>
                        <el-col :xs="6" :sm="6" :md="4" :lg="4" :xl="4" v-for="res in resources" v-if="res.rtype=='短篇博客'">
                            <div class="resource-item">

                            </div>
                        </el-col>
                    </el-row>
                </el-card>
                <el-card id="links">
                    <span slot="header">链接</span>
                    <el-row gutter="20">
                        <el-col :xs="6" :sm="6" :md="4" :lg="4" :xl="4" v-for="res in resources" v-if="res.rtype=='链接'">
                            <div class="resource-item"></div>
                        </el-col>
                    </el-row>
                </el-card>
                <ul class="col-nav">
                    <li><a href="#"><i class="el-icon-arrow-up"></i></a></a>
                    </li>
                    <li><a href="#textbooks">教材</a></li>
                    <li><a href="#answers">答案</a></li>
                    <li><a href="#videos">视频</a></li>
                    <li><a href="#books">电子书籍</a></li>
                    <li><a href="#articles">短篇博客</a></li>
                    <li><a href="#links">链接</a></li>
                </ul>
            </div>
        </el-main>
        <el-footer>
        </el-footer>
    </el-container>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.12.0/index.js"></script>
    <script src="/static/js/resource.js"></script>
    <!-- 下方是绑定菜单链接的jquery代码引入 -->
    <script src="/static/js/bindlinks.js"></script>
</body>

</html>