<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Shortcut Icon" href="/static/img/jiaocaibaodian.ico" type="image/x-icon" />
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.12.0/theme-chalk/index.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/book_detail.css">
    <link rel="stylesheet" href="/static/css/el-video.css">
    <title>视频主页</title>
</head>

<body>
    <el-container id="app">
        <el-header>
            <div class="logo">
                <div class="logo1"></div>
                <div class="logo2"></div>
            </div>
            <!-- 导航条 -->
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" background-color="#fff" text-color="#409EFF" active-text-color="#FF6A6A">
                <el-menu-item index="0">
                    视频主页
                </el-menu-item>
                <el-menu-item index="1">首页</el-menu-item>
                <el-menu-item index="2">专业区</el-menu-item>
                <el-menu-item index="3">讨论区</el-menu-item>
                <el-menu-item index="4">资源区</el-menu-item>
                <el-submenu index="5">
                    <template slot="title">个人</template>
                    <el-menu-item index="5-1">登录</el-menu-item>
                    <el-menu-item index="5-2">注册</el-menu-item>
                    <el-menu-item index="5-3">我的书架</el-menu-item>
                    <el-menu-item index="5-4">我的视频库</el-menu-item>
                    <el-menu-item index="5-5">个人主页</el-menu-item>
                </el-submenu>
            </el-menu>
        </el-header>
        <el-main>
            <el-row gutter="20" class="resource" :type="!currentRes.ingroup?'flex':''" justify="space-around">
                <el-col :xs="24" :sm="18" :md="18" :lg="18" :xl="20">
                    <div class="el-video" @mouseenter="changeShow()" @mouseleave="changeShow()">
                        <video id="media" preload :src="currentRes.rsrc" controls controlslist="nodownload"></video>
                        <div class="el-video-control-btn" v-if="video.show">
                            <el-popover placement="top" width="50" trigger="hover">
                                <ul>
                                    <li @click="handleChangeSpeed(0.5)">0.5</li>
                                    <li @click="handleChangeSpeed(1.0)">1.0</li>
                                    <li @click="handleChangeSpeed(1.25)">1.25</li>
                                    <li @click="handleChangeSpeed(1.5)">1.5</li>
                                    <li @click="handleChangeSpeed(2.0)">2.0</li>
                                </ul>
                                <el-button type="text" slot="reference">倍速</el-button>
                            </el-popover>
                        </div>
                    </div>
                </el-col>
                <el-col :xs="24" :sm="6" :md="6" :lg="6" :xl="4" v-if="currentRes.ingroup">
                    <el-card>
                        <span slot="header">{{rgroup.rgname}}</span>
                        <el-menu :default-active="currentRes.rid">
                            <el-row>
                                <el-col :xs="8" :sm="24" :md="24" :lg="24" :xl="24" v-for="res in resources">
                                    <el-menu-item :index="res.rid" @click="window.location.href='/resource/book_detail?url='+res.rsrc+'&rid='+res.rid">
                                        {{res.rname}}
                                    </el-menu-item>
                                </el-col>
                            </el-row>
                        </el-menu>
                    </el-card>
                </el-col>
            </el-row>
            <el-button icon="el-icon-caret-top" @click="drawer.visible = true">评论区</el-button>
            <el-drawer :visible.sync="drawer.visible" direction="btt" size="70%">
                <template slot="title">
                    <span>评论区</span>
                    <el-button type="text" @click="drawer.innerCommentDrawer = true">参与评论</el-button>
                </template>
                <el-card v-for="(comment,index) in comments" class="comment-item" v-if="index<comments.length-1">
                    <template slot="header">
                        <img :src="comment.uavator"></img>
                        <span>{{comment.uname}}</span>
                        <el-button type="text" @click="drawer.innerReplyDrawer = true;user_reply.replyTouname=comment.uname;user_reply.replyToid=comment.id">回复</el-button>
                    </template>
                    <div>
                        <span>{{comment.content}}</span>
                        <div class="replies" v-if="comment.replies.length>0">
                            <div class="reply-item" v-for="reply in comment.replies">
                                <div class="reply-item-header">
                                    <span class="reply-item-header-text">
                                        <span style="color: #ff9552;">{{reply.uname}}</span>
                                    <span>@</span>
                                    <span style="color: lightblue;">{{reply.replyTouname}}:</span>
                                    <span v-if="reply.replyCollapse">{{reply.content.substring(0,70)}}<span v-if="reply.content.length>=70">...</span></span>
                                    </span>
                                    <el-button type="text" @click="reply.replyCollapse = false" v-if="reply.replyCollapse&&reply.content.length>=70">展开</el-button>
                                    <el-button type="text" @click="reply.replyCollapse = true" v-if="!reply.replyCollapse">收起</el-button>
                                    <el-button type="text" @click="drawer.innerReplyDrawer = true;user_reply.replyTouname=reply.uname;user_reply.replyToid=comment.id">回复</el-button>
                                </div>
                                <div class="reply-item-content" v-if="!reply.replyCollapse">
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;{{reply.content}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-card>
                <el-drawer title="评论" :append-to-body="true" :visible.sync="drawer.innerCommentDrawer" direction="btt">
                    <el-input v-model="user_comment.content" placeholder="请输入评论内容">
                        <el-button slot="append" @click="addComment()">发布</el-button>
                    </el-input>
                </el-drawer>
                <el-drawer title="回复" :append-to-body="true" :visible.sync="drawer.innerReplyDrawer" direction="btt">
                    <el-input v-model="user_reply.content" placeholder="请输入回复内容">
                        <el-button slot="append" @click="addReply()">发布</el-button>
                    </el-input>
                </el-drawer>
            </el-drawer>
        </el-main>
        <el-footer>
        </el-footer>
    </el-container>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.12.0/index.js"></script>
    <!-- 下方是绑定菜单链接的jquery代码引入 -->
    <script src="/static/js/bindlinks.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data() {
                return {
                    filesrc: "",
                    drawer: {
                        visible: false,
                        innerCommentDrawer: false,
                        innerReplyDrawer: false
                    },
                    video: {
                        show: true
                    },
                    activeIndex: '0',
                    currentRes: {},
                    rgroup: {
                        rgid: "",
                        rgname: ""
                    },
                    resources: [],
                    comments: [{
                        content: "你好,这是示例",
                        id: 11,
                        replies: [],
                        rid: "5351f6d028c7e4db1c94ec669a50e1d1",
                        uavator: "/static/img/default-avator.jpeg",
                        uname: "slc805"
                    }],
                    user_comment: {
                        content: ""
                    },
                    user_reply: {
                        replyToid: 0,
                        replyTouname: "",
                        content: ""
                    }
                }
            },
            created: function() {
                var arr = window.location.href.split(/[?&=]/);
                var url = arr[2];
                var rid = arr[4];
                this.currentRes.rid = rid;
                this.currentRes.rsrc = url;
                this.filesrc = "/pdf.js/web/viewer.html?file=" + url;
                this.getRgroupById(rid);
                this.getUserComments();
            },
            methods: {
                handleChangeSpeed($speed) {
                    var oMedia = document.getElementById("media");
                    oMedia.playbackRate = $speed;
                    $(".el-video ul li").css("color", "black");
                    var event = window.event;
                    $(event.target).css("color", "#7bace5");
                },
                changeShow() {
                    var oMedia = document.getElementById("media");
                    if (oMedia.paused) {
                        this.video.show = true;
                    } else {
                        this.video.show = !this.video.show;
                    }
                },
                //根据rid获取所在组rgid,rgname
                getRgroupById($rid) {
                    axios({
                        method: 'post',
                        url: "/resource/getRgroupById",
                        data: {
                            rid: $rid
                        }
                    }).then(res => {
                        console.log(res.data);
                        this.rgroup = res.data.rgroup;
                        this.resources = res.data.resources;
                        for (let i = 0; i < this.resources.length; i++) {
                            if (this.resources[i].rid == $rid) {
                                this.currentRes = this.resources[i];
                                break;
                            }
                        }
                        this.currentRes.ingroup = res.data.ingroup;
                        console.log(this.currentRes);
                    }).catch(err => {
                        console.error(err);
                    })
                },
                //从后端获取评论内容
                getUserComments() {
                    axios.get("/resource/getUserComments?rid=" + this.currentRes.rid)
                        .then(res => {
                            console.log(res.data);
                            this.comments = res.data;
                            this.comments.push({
                                content: "你好,这是示例",
                                id: 11,
                                replies: [],
                                rid: "5351f6d028c7e4db1c94ec669a50e1d1",
                                uavator: "/static/img/default-avator.jpeg",
                                uname: "slc805"
                            });
                        })
                        .catch(err => {
                            console.log(err);
                        })
                },
                //发表评论
                addComment() {
                    this.checkLoginState();
                    console.log(this.user_comment);
                    axios({
                            method: 'post',
                            url: "/resource/addUserComment",
                            data: {
                                replyToid: 0,
                                replyTouname: "",
                                rid: this.currentRes.rid,
                                content: this.user_comment.content
                            }
                        })
                        .then(res => {
                            console.log(res.data);
                            //清空输入框
                            this.user_comment.content = "";
                            //关闭drawer
                            this.comments.unshift(res.data);
                            this.drawer.innerCommentDrawer = false;
                        });
                },
                //回复
                addReply() {
                    this.checkLoginState();
                    console.log(this.user_reply);
                    axios({
                            method: 'post',
                            url: "/resource/addUserComment",
                            data: {
                                replyToid: this.user_reply.replyToid,
                                replyTouname: this.user_reply.replyTouname,
                                rid: this.currentRes.rid,
                                content: this.user_reply.content
                            }
                        })
                        .then(res => {
                            console.log(res.data);
                            this.comments.forEach(element => {
                                if (element.id == this.user_reply.replyToid) {
                                    element.replies.unshift(res.data);
                                }
                            });
                        });
                    //清空输入框
                    this.user_reply.content = "";
                    //关闭drawer
                    this.drawer.innerReplyDrawer = false;
                },
                checkLoginState() {
                    if ($.cookie("token") === undefined) {
                        this.$confirm('您还未登录，是否立即前往', '提醒', {
                            confirmButtonText: '确认',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            window.location.href = "/login";
                        }).catch(() => {});
                    }
                }
            }
        });
    </script>
</body>

</html>