<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="videos.css ">
</head>

<body>
    <div class="header w">
        <!-- logo部分 -->
        <div class="logo">
            <img src="imges/logo.png" width="45" height="45" alt="">
        </div>
        <!-- 导航栏部分 -->
        <div class="nav">
            <ul>
                <li><a href="#">首页</a></li>
                <li><a href="#">收藏夹</a></li>
            </ul>
        </div>
        <!-- 搜索模块 -->
        <div class="search">
            <input type="text" value="输入关键词">
            <button id="button"></button>
        </div>
    </div>
    <!-- 主体部分 -->
    <div class="box w">
        <ul>
            <li>
                <img src="imges/logo.png" alt="">
                <h4>
                    说明
                </h4>
            </li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>

</html>
